table {
border: 1px outset;
}
td,th {
padding: 5px; 
border: 1px inset;
}
.tabl1{
margin: auto;

}
.tabl2{
width: 600px;
margin: auto;
margin-top: 20px;
}
.tabl2 th{
text-align: left;	
}
.tabl3{
width: 600px;
margin: auto;
margin-top: 20px;
border-spacing: 0px;
border: 2px outset;
}
.tabl3 th{
text-align: left;
}
